div {
	height: 300px;
	width: 300px;

	border: 4px solid black;
}



#outer {
	height: 300px;
	width: 150px;
	background-color: #dddddd;
	/*
	position:relative;
	left:0px;
	top:50px;
	*/
}

#inner {
	height: 75px;
	width: 75px;
	background-color: #555555;
	/*
	position: relative;
	top:20px; 
	*/
	
}